body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fb;
    color: #333;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #5dbcd2;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #3f4d63;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #3f4d63;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #0085a1;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    background-color: #0085a1;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #005769;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #3f4d63;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
